﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<dynamic>" %>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">USUARIOS</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12" id="grid"></div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<script>
    var grid = new Table('#grid', {
        fields: {
            field1: {
                label: "Usuario",
                name: "USUARIO",
                visible: true
            },
            field2: {
                label: "Contrase&ntilde;a",
                name: "CONTRASENA",
                visible: false
            },
            field3: {
                label: "Nombre del usuario",
                name: "NOMBRE",
                visible: true
            },
            field4: {
                label: "Rol",
                name: "ROL",
                visible: true
            },
            field5: {
                label: "Activo",
                name: "HABILITADO",
                visible: true
            },
            field6: {
                label: "&Uacute;ltimo acceso",
                name: "ULTIMO_ACCESO",
                visible: true
            }
        },
        formatDate: false
    });

    var editableGrid = new EditableGrid("DemoGridAttach", { sortIconUp: "<%=ResolveUrl("~/Content/images/bullet_arrow_up.png")%>", sortIconDown: "<%=ResolveUrl("~/Content/images/bullet_arrow_down.png")%>" });

    grid.loadXML('<ArrayOfRecord><Record><USUARIO>Sellibahan</USUARIO><CONTRASENA>VPB34JZB8RY</CONTRASENA><NOMBRE>Charlotte U. Clayton</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>30/12/2016</ULTIMO_ACCESO><ROL>ADMINISTRADOR</ROL></Record><Record><USUARIO>Lucyention</USUARIO><CONTRASENA>RNF35QAH1FL</CONTRASENA><NOMBRE>Hoyt Y. Harding</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>18/06/2016</ULTIMO_ACCESO><ROL>MEDICO</ROL></Record><Record><USUARIO>Pennage</USUARIO><CONTRASENA>NDS97XPF8PB</CONTRASENA><NOMBRE>Colby J. Aguirre</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>29/05/2017</ULTIMO_ACCESO><ROL>MEDICO</ROL></Record><Record><USUARIO>Lesslishie</USUARIO><CONTRASENA>UEP96DMC3VS</CONTRASENA><NOMBRE>Thaddeus Z. Duffy</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>25/11/2015</ULTIMO_ACCESO><ROL>MEDICO</ROL></Record><Record><USUARIO>CampyYui</USUARIO><CONTRASENA>GYW77XHW3SI</CONTRASENA><NOMBRE>Jaime R. Cooley</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>26/09/2016</ULTIMO_ACCESO><ROL>CLIENTE</ROL></Record><Record><USUARIO>Grandarra</USUARIO><CONTRASENA>VFW30BMC4ZC</CONTRASENA><NOMBRE>Dana Y. Owens</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>26/09/2015</ULTIMO_ACCESO><ROL>CLIENTE</ROL></Record><Record><USUARIO>OmahaSchool</USUARIO><CONTRASENA>DEJ79UYP1HP</CONTRASENA><NOMBRE>Meghan M. Ayala</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>15/11/2015</ULTIMO_ACCESO><ROL>CLIENTE</ROL></Record><Record><USUARIO>Hunialis</USUARIO><CONTRASENA>GTG67FVZ5UR</CONTRASENA><NOMBRE>Jaime P. Strickland</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>26/11/2015</ULTIMO_ACCESO><ROL>ADMINISTRADOR</ROL></Record><Record><USUARIO>Dancershah</USUARIO><CONTRASENA>XQQ72EED4CU</CONTRASENA><NOMBRE>Alexis K. Donovan</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>03/09/2016</ULTIMO_ACCESO><ROL>CLIENTE</ROL></Record><Record><USUARIO>Shadowerti</USUARIO><CONTRASENA>OBH62ZCE5IC</CONTRASENA><NOMBRE>Idona Y. Calhoun</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>29/07/2016</ULTIMO_ACCESO><ROL>MEDICO</ROL></Record><Record><USUARIO>Fouragesne</USUARIO><CONTRASENA>BAY15TQB8PZ</CONTRASENA><NOMBRE>Rina O. Kinney</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>03/09/2015</ULTIMO_ACCESO><ROL>MEDICO</ROL></Record><Record><USUARIO>OmahaSchool</USUARIO><CONTRASENA>LAZ56XAC9BE</CONTRASENA><NOMBRE>Dominic G. Patrick</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>24/07/2016</ULTIMO_ACCESO><ROL>ADMINISTRADOR</ROL></Record><Record><USUARIO>Antingsk</USUARIO><CONTRASENA>OSF82CDX2MW</CONTRASENA><NOMBRE>Dylan T. Preston</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>27/11/2016</ULTIMO_ACCESO><ROL>CLIENTE</ROL></Record><Record><USUARIO>Franabid</USUARIO><CONTRASENA>LNO02UTC5OE</CONTRASENA><NOMBRE>Mikayla E. Wise</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>03/05/2017</ULTIMO_ACCESO><ROL>MEDICO</ROL></Record><Record><USUARIO>Lesslishie</USUARIO><CONTRASENA>LPH94GTZ2XK</CONTRASENA><NOMBRE>Alexandra K. Adkins</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>30/10/2015</ULTIMO_ACCESO><ROL>CLIENTE</ROL></Record><Record><USUARIO>Solomonchbu</USUARIO><CONTRASENA>KTX92MVD5MN</CONTRASENA><NOMBRE>Barrett O. Castaneda</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>01/01/2016</ULTIMO_ACCESO><ROL>MEDICO</ROL></Record><Record><USUARIO>Certectozo</USUARIO><CONTRASENA>FQN11LXB5LN</CONTRASENA><NOMBRE>Fitzgerald B. Gates</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>10/09/2015</ULTIMO_ACCESO><ROL>CLIENTE</ROL></Record><Record><USUARIO>Angering</USUARIO><CONTRASENA>KRO04MMA6JG</CONTRASENA><NOMBRE>August H. Wallace</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>24/12/2015</ULTIMO_ACCESO><ROL>ADMINISTRADOR</ROL></Record><Record><USUARIO>Placendsc</USUARIO><CONTRASENA>TDT65NKF6IC</CONTRASENA><NOMBRE>Nayda U. Howell</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>08/06/2017</ULTIMO_ACCESO><ROL>ADMINISTRADOR</ROL></Record><Record><USUARIO>BitMagic</USUARIO><CONTRASENA>BSJ57QTU3YR</CONTRASENA><NOMBRE>Mara X. Luna</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>17/03/2017</ULTIMO_ACCESO><ROL>MEDICO</ROL></Record><Record><USUARIO>Bornetteva</USUARIO><CONTRASENA>CIF15DYH2YA</CONTRASENA><NOMBRE>Sierra P. Savage</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>11/03/2016</ULTIMO_ACCESO><ROL>CLIENTE</ROL></Record><Record><USUARIO>PongSan</USUARIO><CONTRASENA>IQN94LSS3TX</CONTRASENA><NOMBRE>Honorato O. Hess</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>28/02/2016</ULTIMO_ACCESO><ROL>ADMINISTRADOR</ROL></Record><Record><USUARIO>Alrekst</USUARIO><CONTRASENA>BSU18OHQ5MJ</CONTRASENA><NOMBRE>Dahlia L. Burnett</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>10/11/2015</ULTIMO_ACCESO><ROL>CLIENTE</ROL></Record><Record><USUARIO>Orateurel</USUARIO><CONTRASENA>XAI11BDH1NE</CONTRASENA><NOMBRE>Octavia P. Velasquez</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>17/05/2016</ULTIMO_ACCESO><ROL>CLIENTE</ROL></Record><Record><USUARIO>Artiveli</USUARIO><CONTRASENA>MMI24YIL0FD</CONTRASENA><NOMBRE>Reese T. Murphy</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>06/08/2015</ULTIMO_ACCESO><ROL>CLIENTE</ROL></Record><Record><USUARIO>Hoodadvine</USUARIO><CONTRASENA>HHQ19VBJ5FN</CONTRASENA><NOMBRE>Eden L. Frederick</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>11/03/2017</ULTIMO_ACCESO><ROL>ADMINISTRADOR</ROL></Record><Record><USUARIO>Siusclod</USUARIO><CONTRASENA>IGT27ZMM9WB</CONTRASENA><NOMBRE>Nerea Q. Alvarez</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>29/03/2016</ULTIMO_ACCESO><ROL>MEDICO</ROL></Record><Record><USUARIO>HeadlineVulture</USUARIO><CONTRASENA>SOS74LNJ2KD</CONTRASENA><NOMBRE>Chastity B. Newton</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>03/11/2015</ULTIMO_ACCESO><ROL>MEDICO</ROL></Record><Record><USUARIO>Edenbra</USUARIO><CONTRASENA>FXP90OGQ8IR</CONTRASENA><NOMBRE>Helen N. Jefferson</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>19/05/2017</ULTIMO_ACCESO><ROL>MEDICO</ROL></Record><Record><USUARIO>Earlheler</USUARIO><CONTRASENA>LTO77TAK7LE</CONTRASENA><NOMBRE>Jordan U. Lamb</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>09/11/2016</ULTIMO_ACCESO><ROL>CLIENTE</ROL></Record><Record><USUARIO>Hulkovergy</USUARIO><CONTRASENA>QLK62ULW9LL</CONTRASENA><NOMBRE>Gil N. Espinoza</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>06/10/2015</ULTIMO_ACCESO><ROL>MEDICO</ROL></Record><Record><USUARIO>CampyYui</USUARIO><CONTRASENA>QAP64AWP9LQ</CONTRASENA><NOMBRE>Karina C. Warren</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>05/11/2016</ULTIMO_ACCESO><ROL>MEDICO</ROL></Record><Record><USUARIO>Dianydis</USUARIO><CONTRASENA>YUC61HVU0RR</CONTRASENA><NOMBRE>Clementine O. Villarreal</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>02/04/2016</ULTIMO_ACCESO><ROL>CLIENTE</ROL></Record><Record><USUARIO>Impediapl</USUARIO><CONTRASENA>NOP32ZYQ9VP</CONTRASENA><NOMBRE>Ralph H. Roach</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>23/11/2016</ULTIMO_ACCESO><ROL>MEDICO</ROL></Record><Record><USUARIO>Franabid</USUARIO><CONTRASENA>QIA50QPC9CZ</CONTRASENA><NOMBRE>Harlan T. Hanson</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>21/10/2015</ULTIMO_ACCESO><ROL>ADMINISTRADOR</ROL></Record><Record><USUARIO>Amebook</USUARIO><CONTRASENA>AQR10BRA1FY</CONTRASENA><NOMBRE>Cullen M. Prince</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>07/01/2016</ULTIMO_ACCESO><ROL>MEDICO</ROL></Record><Record><USUARIO>Lucyention</USUARIO><CONTRASENA>GTB27SPL7VJ</CONTRASENA><NOMBRE>April A. Jackson</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>16/06/2017</ULTIMO_ACCESO><ROL>ADMINISTRADOR</ROL></Record><Record><USUARIO>Artiveli</USUARIO><CONTRASENA>RQY08HXF9AJ</CONTRASENA><NOMBRE>Lynn D. Hicks</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>02/03/2017</ULTIMO_ACCESO><ROL>CLIENTE</ROL></Record><Record><USUARIO>GarnettPitcher</USUARIO><CONTRASENA>BWV62XUH8ZV</CONTRASENA><NOMBRE>Gisela E. Reeves</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>10/04/2016</ULTIMO_ACCESO><ROL>CLIENTE</ROL></Record><Record><USUARIO>Miyouror</USUARIO><CONTRASENA>NCG52ACM2CP</CONTRASENA><NOMBRE>Farrah F. Sparks</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>23/01/2017</ULTIMO_ACCESO><ROL>ADMINISTRADOR</ROL></Record><Record><USUARIO>Grandolog</USUARIO><CONTRASENA>EYC96EHT0WJ</CONTRASENA><NOMBRE>Hunter A. Roth</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>14/02/2016</ULTIMO_ACCESO><ROL>MEDICO</ROL></Record><Record><USUARIO>Edenbra</USUARIO><CONTRASENA>CNE92TPX7VS</CONTRASENA><NOMBRE>Mia A. Patel</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>05/11/2015</ULTIMO_ACCESO><ROL>MEDICO</ROL></Record><Record><USUARIO>Bitbasete</USUARIO><CONTRASENA>RDU16RVI7MH</CONTRASENA><NOMBRE>Sacha Y. Gonzalez</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>26/04/2016</ULTIMO_ACCESO><ROL>MEDICO</ROL></Record><Record><USUARIO>Smgscoolber</USUARIO><CONTRASENA>DCC41MYU5LX</CONTRASENA><NOMBRE>Sylvester W. Davenport</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>17/06/2016</ULTIMO_ACCESO><ROL>CLIENTE</ROL></Record><Record><USUARIO>Factici</USUARIO><CONTRASENA>DOV32HGB8BD</CONTRASENA><NOMBRE>Bianca P. Michael</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>05/08/2016</ULTIMO_ACCESO><ROL>CLIENTE</ROL></Record><Record><USUARIO>Maginte</USUARIO><CONTRASENA>FDZ85NLZ0WV</CONTRASENA><NOMBRE>Lee F. Baldwin</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>24/05/2017</ULTIMO_ACCESO><ROL>ADMINISTRADOR</ROL></Record><Record><USUARIO>Italewe</USUARIO><CONTRASENA>UBU84SLM1QA</CONTRASENA><NOMBRE>Kalia M. Mcmillan</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>29/11/2015</ULTIMO_ACCESO><ROL>ADMINISTRADOR</ROL></Record><Record><USUARIO>Encereli</USUARIO><CONTRASENA>OUY12XSY5VC</CONTRASENA><NOMBRE>Martina K. Cohen</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>10/07/2016</ULTIMO_ACCESO><ROL>ADMINISTRADOR</ROL></Record><Record><USUARIO>Nonexia</USUARIO><CONTRASENA>PGH07VDA3UU</CONTRASENA><NOMBRE>Hope O. Sims</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>11/08/2016</ULTIMO_ACCESO><ROL>MEDICO</ROL></Record><Record><USUARIO>Bornetteva</USUARIO><CONTRASENA>QTS07HJP8VI</CONTRASENA><NOMBRE>Cally P. Bridges</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>09/10/2015</ULTIMO_ACCESO><ROL>ADMINISTRADOR</ROL></Record><Record><USUARIO>Darkingari</USUARIO><CONTRASENA>GWH57RNH9WM</CONTRASENA><NOMBRE>Linda S. Padilla</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>25/08/2016</ULTIMO_ACCESO><ROL>CLIENTE</ROL></Record><Record><USUARIO>Certectozo</USUARIO><CONTRASENA>JTJ42NFR4AQ</CONTRASENA><NOMBRE>Porter U. Luna</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>09/06/2017</ULTIMO_ACCESO><ROL>MEDICO</ROL></Record><Record><USUARIO>DressyMarkTime</USUARIO><CONTRASENA>JPC03WNC3KI</CONTRASENA><NOMBRE>Ulysses G. Ortega</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>04/06/2017</ULTIMO_ACCESO><ROL>CLIENTE</ROL></Record><Record><USUARIO>Biodiefy</USUARIO><CONTRASENA>VFS25MHI9VW</CONTRASENA><NOMBRE>Angela I. Hayden</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>22/10/2016</ULTIMO_ACCESO><ROL>MEDICO</ROL></Record><Record><USUARIO>Mesardjy</USUARIO><CONTRASENA>WSO60BPK9AQ</CONTRASENA><NOMBRE>Oliver X. Valencia</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>23/05/2016</ULTIMO_ACCESO><ROL>CLIENTE</ROL></Record><Record><USUARIO>Flasheren</USUARIO><CONTRASENA>LHO76MXN4HZ</CONTRASENA><NOMBRE>Rowan N. Moody</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>12/12/2015</ULTIMO_ACCESO><ROL>CLIENTE</ROL></Record><Record><USUARIO>Reputest</USUARIO><CONTRASENA>YTU80QIU7UB</CONTRASENA><NOMBRE>Gay Z. Hancock</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>09/11/2015</ULTIMO_ACCESO><ROL>CLIENTE</ROL></Record><Record><USUARIO>Bacchimix</USUARIO><CONTRASENA>TTX07FBB0QP</CONTRASENA><NOMBRE>Harrison R. Kelly</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>12/06/2016</ULTIMO_ACCESO><ROL>CLIENTE</ROL></Record><Record><USUARIO>Pennage</USUARIO><CONTRASENA>SVK47GKD2BH</CONTRASENA><NOMBRE>Casey H. Walter</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>20/06/2016</ULTIMO_ACCESO><ROL>MEDICO</ROL></Record><Record><USUARIO>Fouragesne</USUARIO><CONTRASENA>VLZ63KFU1RL</CONTRASENA><NOMBRE>Yvonne W. Curry</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>04/05/2017</ULTIMO_ACCESO><ROL>CLIENTE</ROL></Record><Record><USUARIO>SharkHart</USUARIO><CONTRASENA>RMY20CFM6YX</CONTRASENA><NOMBRE>Blaine P. Merritt</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>13/03/2017</ULTIMO_ACCESO><ROL>MEDICO</ROL></Record><Record><USUARIO>Impediapl</USUARIO><CONTRASENA>JJB03CPF8GY</CONTRASENA><NOMBRE>Herrod I. Massey</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>03/08/2016</ULTIMO_ACCESO><ROL>ADMINISTRADOR</ROL></Record><Record><USUARIO>Sedgeor</USUARIO><CONTRASENA>UTO89KDA1AY</CONTRASENA><NOMBRE>Phelan W. Byers</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>17/08/2015</ULTIMO_ACCESO><ROL>ADMINISTRADOR</ROL></Record><Record><USUARIO>Born2eingwo</USUARIO><CONTRASENA>GET44OOI2VB</CONTRASENA><NOMBRE>Geraldine X. Craig</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>07/08/2015</ULTIMO_ACCESO><ROL>CLIENTE</ROL></Record><Record><USUARIO>Ofitedit</USUARIO><CONTRASENA>WBT00PDP9YS</CONTRASENA><NOMBRE>Lee R. Hutchinson</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>13/01/2017</ULTIMO_ACCESO><ROL>CLIENTE</ROL></Record><Record><USUARIO>Flasheren</USUARIO><CONTRASENA>JDT19VQR2WH</CONTRASENA><NOMBRE>Rajah D. Lara</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>17/05/2016</ULTIMO_ACCESO><ROL>MEDICO</ROL></Record><Record><USUARIO>Headlinetr</USUARIO><CONTRASENA>WOA81UCA9DN</CONTRASENA><NOMBRE>Mira K. Zamora</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>28/06/2015</ULTIMO_ACCESO><ROL>CLIENTE</ROL></Record><Record><USUARIO>Accertin</USUARIO><CONTRASENA>ETO71MBL1UT</CONTRASENA><NOMBRE>Eden T. Holt</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>23/04/2017</ULTIMO_ACCESO><ROL>CLIENTE</ROL></Record><Record><USUARIO>Leadjubili</USUARIO><CONTRASENA>AYJ12DFI5BF</CONTRASENA><NOMBRE>Moana H. Saunders</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>29/05/2016</ULTIMO_ACCESO><ROL>CLIENTE</ROL></Record><Record><USUARIO>IdealHenry</USUARIO><CONTRASENA>YPT68MRC4QJ</CONTRASENA><NOMBRE>Justine R. Padilla</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>19/07/2015</ULTIMO_ACCESO><ROL>MEDICO</ROL></Record><Record><USUARIO>Comfykeye</USUARIO><CONTRASENA>PFK81EPQ3NM</CONTRASENA><NOMBRE>Sloane G. Cochran</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>15/06/2016</ULTIMO_ACCESO><ROL>CLIENTE</ROL></Record><Record><USUARIO>IdealHenry</USUARIO><CONTRASENA>MBG97LIR1YR</CONTRASENA><NOMBRE>Zenaida W. Phillips</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>01/03/2016</ULTIMO_ACCESO><ROL>ADMINISTRADOR</ROL></Record><Record><USUARIO>Anstarch</USUARIO><CONTRASENA>TYG95TCP1WH</CONTRASENA><NOMBRE>Benjamin Z. Santiago</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>22/03/2016</ULTIMO_ACCESO><ROL>MEDICO</ROL></Record><Record><USUARIO>Nonexia</USUARIO><CONTRASENA>LPC48QAL1OV</CONTRASENA><NOMBRE>Uriah O. Wiley</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>10/07/2015</ULTIMO_ACCESO><ROL>MEDICO</ROL></Record><Record><USUARIO>Grandarra</USUARIO><CONTRASENA>AZD53UCU9CA</CONTRASENA><NOMBRE>Wesley U. Daniel</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>25/05/2017</ULTIMO_ACCESO><ROL>MEDICO</ROL></Record><Record><USUARIO>IdealHenry</USUARIO><CONTRASENA>NMB60JZZ7QN</CONTRASENA><NOMBRE>Macey K. Campbell</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>18/09/2015</ULTIMO_ACCESO><ROL>MEDICO</ROL></Record><Record><USUARIO>Doublecept</USUARIO><CONTRASENA>WJM94RYC6SH</CONTRASENA><NOMBRE>Renee J. Harmon</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>13/10/2016</ULTIMO_ACCESO><ROL>CLIENTE</ROL></Record><Record><USUARIO>BitJiggy</USUARIO><CONTRASENA>MIM17UHM0SL</CONTRASENA><NOMBRE>Lani S. Sanders</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>20/05/2017</ULTIMO_ACCESO><ROL>CLIENTE</ROL></Record><Record><USUARIO>HeadlineVulture</USUARIO><CONTRASENA>UCH85IYZ3XQ</CONTRASENA><NOMBRE>Lani X. Bernard</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>02/12/2015</ULTIMO_ACCESO><ROL>ADMINISTRADOR</ROL></Record><Record><USUARIO>BitJiggy</USUARIO><CONTRASENA>FFL36PQD5CD</CONTRASENA><NOMBRE>Lucius D. Pearson</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>11/10/2015</ULTIMO_ACCESO><ROL>CLIENTE</ROL></Record><Record><USUARIO>Aitcharen</USUARIO><CONTRASENA>QPF09LYR2ZW</CONTRASENA><NOMBRE>Aileen N. Copeland</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>02/11/2015</ULTIMO_ACCESO><ROL>ADMINISTRADOR</ROL></Record><Record><USUARIO>Antingsk</USUARIO><CONTRASENA>EMW17YDE3GJ</CONTRASENA><NOMBRE>Berk X. Pearson</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>16/01/2016</ULTIMO_ACCESO><ROL>MEDICO</ROL></Record><Record><USUARIO>Djinicalta</USUARIO><CONTRASENA>HAA59XTI1NZ</CONTRASENA><NOMBRE>Sage A. Carlson</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>20/10/2015</ULTIMO_ACCESO><ROL>ADMINISTRADOR</ROL></Record><Record><USUARIO>Bacchimix</USUARIO><CONTRASENA>QFI39RKQ6SC</CONTRASENA><NOMBRE>Vladimir F. Reynolds</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>16/03/2017</ULTIMO_ACCESO><ROL>MEDICO</ROL></Record><Record><USUARIO>Siusclod</USUARIO><CONTRASENA>WIG20ZLD5HW</CONTRASENA><NOMBRE>Declan S. Dodson</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>06/08/2015</ULTIMO_ACCESO><ROL>MEDICO</ROL></Record><Record><USUARIO>ScaryGroup</USUARIO><CONTRASENA>TSE44TGS0KR</CONTRASENA><NOMBRE>Illana A. Henry</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>06/11/2016</ULTIMO_ACCESO><ROL>MEDICO</ROL></Record><Record><USUARIO>Encereli</USUARIO><CONTRASENA>PLM89RGZ7HW</CONTRASENA><NOMBRE>Burke C. Dean</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>07/01/2017</ULTIMO_ACCESO><ROL>MEDICO</ROL></Record><Record><USUARIO>Earlheler</USUARIO><CONTRASENA>LRX55RID3PT</CONTRASENA><NOMBRE>Eagan D. Watkins</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>09/09/2016</ULTIMO_ACCESO><ROL>ADMINISTRADOR</ROL></Record><Record><USUARIO>RacingJo</USUARIO><CONTRASENA>UVM73KHC1GX</CONTRASENA><NOMBRE>Astra X. Pena</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>23/04/2017</ULTIMO_ACCESO><ROL>ADMINISTRADOR</ROL></Record><Record><USUARIO>Dancershah</USUARIO><CONTRASENA>IHO78AXQ3AR</CONTRASENA><NOMBRE>Tana O. Potter</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>22/07/2015</ULTIMO_ACCESO><ROL>MEDICO</ROL></Record><Record><USUARIO>Siusclod</USUARIO><CONTRASENA>VBR32RJL7BG</CONTRASENA><NOMBRE>Imelda G. Marsh</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>13/06/2017</ULTIMO_ACCESO><ROL>CLIENTE</ROL></Record><Record><USUARIO>SillySocial</USUARIO><CONTRASENA>YMC65LID0OD</CONTRASENA><NOMBRE>India U. Mueller</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>28/01/2017</ULTIMO_ACCESO><ROL>ADMINISTRADOR</ROL></Record><Record><USUARIO>Aitcharen</USUARIO><CONTRASENA>WAP74CYW3VE</CONTRASENA><NOMBRE>Kirk D. Jackson</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>24/03/2016</ULTIMO_ACCESO><ROL>MEDICO</ROL></Record><Record><USUARIO>Comfykeye</USUARIO><CONTRASENA>RQF90KYC0VK</CONTRASENA><NOMBRE>Christopher W. Hooper</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>11/04/2017</ULTIMO_ACCESO><ROL>MEDICO</ROL></Record><Record><USUARIO>Chickersite</USUARIO><CONTRASENA>YOG16YVO9PX</CONTRASENA><NOMBRE>Paul P. Calderon</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>11/11/2015</ULTIMO_ACCESO><ROL>ADMINISTRADOR</ROL></Record><Record><USUARIO>HeadlineVulture</USUARIO><CONTRASENA>DIP46IEW1KO</CONTRASENA><NOMBRE>Madaline Z. Carpenter</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>15/02/2016</ULTIMO_ACCESO><ROL>ADMINISTRADOR</ROL></Record><Record><USUARIO>Grandarra</USUARIO><CONTRASENA>HJN86SJO3PO</CONTRASENA><NOMBRE>Jemima I. Green</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>25/03/2016</ULTIMO_ACCESO><ROL>ADMINISTRADOR</ROL></Record><Record><USUARIO>Maginte</USUARIO><CONTRASENA>JAA54VXN8WA</CONTRASENA><NOMBRE>Martina B. Forbes</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>14/06/2016</ULTIMO_ACCESO><ROL>MEDICO</ROL></Record><Record><USUARIO>Lucyention</USUARIO><CONTRASENA>UCR82ECI9GG</CONTRASENA><NOMBRE>Alice T. Ellison</NOMBRE><HABILITADO>Y</HABILITADO><ULTIMO_ACCESO>01/02/2017</ULTIMO_ACCESO><ROL>CLIENTE</ROL></Record><Record><USUARIO>StandIdol</USUARIO><CONTRASENA>DAM84NHD8QF</CONTRASENA><NOMBRE>Kennan L. Witt</NOMBRE><HABILITADO>N</HABILITADO><ULTIMO_ACCESO>05/05/2016</ULTIMO_ACCESO><ROL>MEDICO</ROL></Record></ArrayOfRecord>');

    // we build and load the metadata in Javascript
    editableGrid.load({
        metadata: [
            { name: "USUARIO", datatype: "string", editable: false },
            { name: "NOMBRE", datatype: "string", editable: true },
            {
                name: "ROL", datatype: "string", editable: true, values:
                            {
                                "ADMINISTRADOR": "Administrador", "CLIENTE": "Cliente", "MEDICO": "Médico"
                            }
            },
            {
                name: "HABILITADO", datatype: "string", editable: true, values:
                            {
                                "Y": "Sí", "N": "No"
                            }
            },
            { name: "ULTIMO_ACCESO", datatype: "date", editable: true }
        ]
    });
    // then we attach to the HTML table and render it
    editableGrid.attachToHTMLTable('gridtable');
    editableGrid.renderGrid();

    grid.onLoadEnd = function () {
        console.debug("Cargando grid editable");

    };
</script>
