﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<dynamic>" %>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">NUEVO USUARIO</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Acciones
            </div>
            <div class="panel-body">
                Campos
            </div>
            <div class="panel-footer">
                Alguna otra cosa
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
