﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<dynamic>" %>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">MENU ITEM LIST</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->